.diary {
  font-size: 2rem;
  color: rgb(124, 124, 124);
  background-color: rgba(255, 255, 255, 0.85);
  padding: 5rem;
  border-radius: 5px;
  width: 100%;
  animation: slide-up-fade-in 0.5s ease-in;
}

.diary-date {
  font-size: 1.5rem;
  margin-bottom: 5rem;
  display: block;
}

.diary-content {
  line-height: 1.5;
}

.icon-box {
  display: grid;
  width: 100%;
  align-items: end;
  justify-content: end;
  margin-top: 25rem;
}

.icon-btn {
  border: none;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
}

.icon-btn:hover,
.icon-btn:active {
  background-color: rgba(0, 0, 0, 0.11);
}

.diary-icon {
  width: 24px;
  stroke: rgb(104, 104, 104);
}
