.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: left;
}

.hero-intro {
  background-color: rgba(0, 0, 0, 0.742);
  color: white;
  margin-top: 10rem;
  margin-left: 10rem;
  width: 50rem;
  padding: 3rem;
  animation: slide-left-fade-in 1s ease-in;
}

@keyframes slide-left-fade-in {
  0% {
    transform: translateX(30rem);
    opacity: 0;
  }
  80% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hero-intro h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero-intro p {
  font-size: 1.5rem;
  /* margin-bottom: 1rem; */
  line-height: 1.8;
}

.hero-btn {
  border: none;
  border-radius: 6px;
  color: white;
  background-color: rgb(0, 0, 0);
  width: 15rem;
  height: 5rem;
  padding: 1rem;
  margin-top: 3rem;
  margin-left: auto;
  font-size: 1.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.127);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn:hover,
.hero-btn:active {
  background-color: rgba(30, 30, 30, 0.8);
}

.hero-btn a {
  color: white;
  text-decoration: none;
}

.hero-btn-icon {
  width: 20px;
  margin-right: 1rem;
}
