.hero-bg-img {
  background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(0, 0, 0, 0.746)
    ),
    url("../img/notebook-1840276_1920.webp");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.diary-section {
  margin: 0 auto;
  padding: 10rem 0;
  width: 80rem;
}

@keyframes slide-up-fade-in {
  0% {
    transform: translateY(30rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.main-h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.calender-section {
  margin: 4rem auto;
  width: 80rem;
}
